<h1><small class="text-muted">Welcome</small><br>{{content.field_first_name.0}} {{content.field_last_name.0}}</h1>
<a href="{{url('<front>')}}node/add/article" class="frame-link" target="user_content_frame">Post</a> | <a href="{{url('<front>')}}user/{{user.id}}/edit">Edit Profile</a> | <a href="{{url('<front>')}}user/logout">Logout</a>
<hr>